/*====
comon css
=============*/
*{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a{
	text-decoration:none;
}

/*=====
Navbar area
================*/
.bg-area {
    background-color:rgba(42, 44, 57, 0.9);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.ml-auto{
	margin-left:auto!important;
}

.navbar-dark .navbar-toggler {
    border-color: #0006;
}

.navbar-toggler{
	border:2px solid transparent;
	transition:0.4s;
}

.navbar-dark .navbar-toggler:hover{
    background: rgba(12, 11, 9, 0.3);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: none;
    margin: 0 5px;
    border-radius: 5px;
	transition:0.3s;
}

.navbar-dark .navbar-brand {
    text-shadow: 0px 0px 10px #1965db;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
	color:#fff;
}		

.navbar-dark .navbar-nav .nav-link:hover{
    background:rgb(56 59 80 / 90%);
	color:#fff;
}

@media (max-width:991.99px) {
  #navbarNavAltMarkup {
     border-top:1px solid #b3b3b352;
     margin-top: 10px;
  }
}

/*====
 Hero area
=============*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/02.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #c1c1c1;
  text-transform:uppercase;
  position:relative;
  padding-left:5px;
}

#hero .span {
    position: absolute;
    width: 2px;
    height: 5rem;
    background: #6a6a6a;
    top: 22%;
}

#hero p {
    color: #b5b5b5ba;
    font-size: 18px;
    margin-bottom: 0;
    font-family: sans-serif;
	padding-left:5px;
}

#hero a {
    margin-top: 1rem;
    font-size: 18px;
    font-family: arial;
    padding: .5rem 1.2rem;
    text-align: center;
    border-radius: 0;
	transition:0.4s;
}

/*====
About area
===========*/
#about{
    padding: 2rem 7rem;
    background: #ddd;	
}

#about img{
    width:100%;	
}

#about .about-us h6{
    text-align: end;
    font-size: 1.1rem;
    font-weight: normal;
    font-family: oswald;
    color: #716f6f;
}

#about .about-us h2{
    text-align: end;
    font-size: 2.4rem;
    font-weight: bold;
    border-right: 2px solid #bdc1c1;
    padding-right: 5px;
    font-style: normal;
    font-family: oswald;
    letter-spacing: -1px;
    word-spacing: 5px;
}

#about .about-us p{
    text-align: end;
    font-size: larger;
    font-weight: lighter;
    color: #000000c7;
    font-family: sans-serif;
    line-height: 25px;
}

#about .btn-grp{
    text-align: end;	
}

#about .btn-grp button{
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
}   

@media ( max-width: 992px ) {
  #about {
    padding:2rem 0rem;
  }
}

/*====
Make area
===========*/
.cta {
  background:#000;
  padding:3rem 0;
}

.cta h3 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: capitalize;
}

.cta p {
	color:#fff;
    font-size: 17px;
    font-weight: normal;
    font-family: sans-serif;
}

.cta .cta-btn {
  font-family:sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #47b2e4;
  border: 2px solid #47b2e4;
  text-decoration:none;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*=====
Services area
==================*/
.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size:2rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width:60px;
  height: 3px;
  background:#ec2225;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    font-family: sans-serif;
}

.section-bg {
    padding: 3rem 0;
    color: #fff;
    border-top: 2px solid #373737ba;
}

.features{
	background:#000;
}

.features .icon-box {
  margin-bottom: 20px;
  padding:20px;
  border-radius: 6px;
  background: #252525;
  transition: 0.3s;
}

.features .icon-box:hover {
  background: #2b2b2b;
}

.features .icon-box i {
  float: left;
  color: #e03a3c;
  font-size: 40px;
}

.features .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.features .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
}

/*=====
Range area
==================*/
#range img{
    display: block;
    margin: 0 auto;
	width:100%;
}

#range .car-info{
    background: #950f2a;
    text-align: center;
    padding: .2rem 0;
    color: #fff;
    margin-bottom: 2rem;
}

#range .load-btn {
    margin: 0 auto;
    display: block;
    font-size: 1.1rem;
    font-weight: initial;
    font-family: arial;
    word-spacing: 2px;
    font-style: italic;
	transition:0.4s;
}

#range .load-btn:hover{
    background:none!important;
	word-spacing:3px;
}

/*=====
Services area
==================*/
#service{
    padding: 2rem 0;
    background: #ecf5fd;
}

#service .section-title h2{
	margin-bottom:0;
	padding-bottom:15px;
}

#service img{
	width:100%;
}

#service .car-info{
    margin: 1rem 0;
    padding: 1.2rem 1rem;
    background:#93939378;
    color: black;
}

#service .car-info h2{
    font-weight: normal;
    color: #241e1e;
    font-family: oswald;
    word-spacing: 2px;
}

#service .car-info p{
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-align: start;
    padding-bottom: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #292b2d;
}

#service .car-info a{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-family: arial;
    text-decoration: underline;
    transition: 0.4s;
}

#service .car-info a:hover{
    word-spacing: 3px;
	color: #5474a4;
}

/*====
Choose area
=============*/
#choose{
  width: 100%;
  height: 100vh;
  background: url("../img/19.jpg") top center no-repeat;
  background-size: cover;
  position: relative;	
}

.choose-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#choose:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#choose h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: oswald;
    color: #f2f2f2;
}

#choose p{
    color: #f0f0f0;
    font-size: 18px;
    font-family: arial;
    font-weight: normal;
}

#choose button{
    padding: .5rem 2rem;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
}

@media ( max-width: 768px ) {
 .choose-info{
    width:80%;
 }

}

/*=====
News area
==================*/
#news {
    background:#252f2b;
	padding:3rem 0;
}

#news .footer-newsletter h4 {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-family: oswald;
}

#news .footer-newsletter p {
    font-size: 17px;
    color: #fff;
    font-weight: lighter;
    font-family: oswald;
    word-spacing: 2px;
}

#news .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}

input:focus-visible{
	outline:0;
}

#news .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

#news .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #4154f1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

/*========
footer area
===================*/
#footer{
    padding: 3rem 0;
    background: black;
    color: white;
}

.footer .contact-info{
	text-align: center;
}

.footer .contact-info h2{
    font-size: 2rem;
    font-weight: normal;
    font-family: oswald;
    word-spacing: 3px;
}

.footer .contact-info p{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 18px;
    font-family: arial;
    line-height: 25px;
    color: #c1c3c6;
}

.footer .contact-info ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: .7rem 0;
    padding: 0;
}

.footer .contact-info ul li{
  padding: .3rem .6rem;
  background: #d9e8f4;
  margin-left: .5rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

}

.footer .contact-info ul li a{
	font-size:18px;
	color:#000;
	transition:0.3s;
}

.footer .contact-info ul li:hover a{
  color:#1501ff;
} 

/*========
copyright area
===================*/
#copyright{
    padding: 1rem 0;
    background: #0f0f0f;
    border-top: 1px solid #808080b8;
    color: #cacaca;
    font-size: 18px;
}

#copyright p{
    font-family: arial;
    margin-bottom: 0;
}
